@import url(http://fonts.googleapis.com/earlyaccess/alefhebrew.css);

@media all and (min-width: 1200px) {
  .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    float: right;
  }
}

html {
  overflow-y: scroll;
}
body {
  font: 14px 'Alef Hebrew', Arial, Helvetica, sans-serif;
  direction: rtl;
  margin: 0 auto;
}
/*
  position: relative;
  overflow: hidden;
  background: #1d2b64;
  background: radial-gradient(circle farthest-side at right bottom,#fefdfe 5%,#f8cdda 25%,#1d2b64 80%,#0e153a 98%);
}

body::after {
  background: linear-gradient(rgba(14,21,58,0),rgba(14,21,58,0.1));
}
*/
a {
  color: #0076be;
}
ul, ol ,li {
  list-style-type: none;
  list-style: none;
  padding: 0;
  margin: 0;
}
a:hover, a:active, a:focus, a:visited,
button:hover, button:active, button:focus, button:visited,
input:hover, input:active, input:focus, input:visited {
  outline: 0 !important;
  text-decoration: none;
}
.ltr {
  direction: ltr;
}
.loader {
  width: 22px;
  height: 22px;
  display: inline-block;
  margin: 0 auto;
  padding: 0;
  position: relative;
  top: -2px;
}
.loader img {
  width: 22px;
  height: 22px;
}
.fade-content {
  opacity: 0;
}
.fade-content.fade-in:not(.ng-leave) {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.fade-content.ng-enter {
  opacity: 0;
}
.fade-content.fade-in {
  opacity: 1;
}
.fade-content.ng-leave {
  opacity: 1;
}
.fade-content.ng-leave.ng-leave-active {
  opacity: 0;
}
#page {
  margin: 0 auto;
  text-align: center;
  padding: 15px;
  max-width: 1000px;
}
#search-bar {
  position: relative;
  z-index: 0;
  float: left;
  width: 100%;
  display: block;
  box-shadow: 3px 3px 0 #ccc;
  border-radius: 7px;
}

/*.roll {
  vertical-align: top;
  -webkit-perspective: 400px;
  -ms-perspective: 400px;
  perspective: 400px;
  -webkit-perspective-origin: 50% 50%;
  -ms-perspective-origin: 50% 50%;
  perspective-origin: 50% 50%;
}
.roll:hover {
  background: none;
  text-shadow: none
}
.roll span {
  display: block;
  position: relative;
  padding: 0 2px;
  pointer-events: none;
  -webkit-transition: all 400ms ease;
  transition: all 400ms ease;
  -webkit-transform-origin: 50% 0%;
  -ms-transform-origin: 50% 0%;
  transform-origin: 50% 0%;
  -webkit-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden
}
.roll:hover span {
  background: rgba(0, 0, 0, 0.5);
  -webkit-transform: translate3d(0px, 0px, -45px) rotateX(90deg);
  -ms-transform: translate3d(0px, 0px, -45px) rotateX(90deg);
  transform: translate3d(0px, 0px, -45px) rotateX(90deg)
}
.roll span:after {
  content: attr(data-title);
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  padding: 0 2px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform-origin: 50% 0%;
  -ms-transform-origin: 50% 0%;
  transform-origin: 50% 0%;
  -webkit-transform: translate3d(0px, 110% , 0px) rotateX(-90deg);
  -ms-transform: translate3d(0px, 110% , 0px) rotateX(-90deg);
  transform: translate3d(0px, 110% , 0px) rotateX(-90deg)
}*/

#search-bar .input-group {
  direction: ltr;
}
#search-bar .btn {
  height: 46px;
  z-index: 10;
  margin-right: -2px;
}
#search-input {
  text-align: right;
  direction: rtl;
  z-index: 1;
}
#user-bar {
  margin: 0 auto 15px;
  float: left;
  width: 100%;
}
#login-btn {
  float: left;
  background: #4c69ba;
  background: -webkit-gradient(linear, center top, center bottom, from(#4c69ba), to(#3b55a0));
  background: -webkit-linear-gradient(#4c69ba, #3b55a0);
  background: -moz-linear-gradient(top,  #4c69ba 0%, #3b55a0 100%); /* FF3.6+ */
  background: -o-linear-gradient(top,  #4c69ba 0%, #3b55a0 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #4c69ba 0%, #3b55a0 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #4c69ba 0%, #3b55a0 100%); /* W3C */
  border-color: #4c69ba;
  text-shadow: 0 -1px 0 #354c8c;
  position: relative;
  z-index: 2;
}
#login-btn:hover {
  background: -webkit-gradient(linear, center top, center bottom, from(#5b7bd5), to(#4864b1));
  background: -webkit-linear-gradient(#5b7bd5, #4864b1);
  background: -moz-linear-gradient(top,  #5b7bd5 0%, #4864b1 100%); /* FF3.6+ */
  background: -o-linear-gradient(top,  #5b7bd5 0%, #4864b1 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #5b7bd5 0%, #4864b1 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #5b7bd5 0%, #4864b1 100%); /* W3C */
  border-bottom-color: #41599f;
  border-left-color: #4961a8;
  border-right-color: #4961a8;
  border-top-color: #5874c3;
  -webkit-box-shadow: inset 0 1px 0 #607fd6;
  cursor: pointer
}
#login-btn .text {
  font-weight: bold;
}
#user-details {
  float: left;
  position: relative;
  padding: 0;
  margin: 0;
  z-index: 2;
  padding: 0 0 10px;
}
#user-details, #user-details > * {
  cursor: default;
}
.user-details-wrapper {
  overflow: hidden;
  position: relative;
  z-index: 3;
  background-color: #FFFFFF;
}
.user-image {
  float: left;
  margin-right:10px;
}
.user-image img {
  height: 48px;
  width: 48px;
}
.user-name-email {
  float: left;
  text-align: left;
  margin: 7px 10px 0 0;
}
.user-name {
  font-weight: bold;
}
.user-email {
  font-size: 12px;
  color: #cccccc;
  line-height: 10px;
}
.user-caret {
  float: left;
  margin: 8px 2px 0 0;
}
.user-menu {
  display: none;
  position: absolute;
  z-index: 1;
  background-color: #FFFFFF !important;
  border-radius: 4px;
  box-shadow: 1px 1px 1px #ccc;
  padding: 0;
  width: 100%;
  text-align: right;
  border: 1px solid #E8E8E8;
  margin: 8px 0 0;
}
ul#user-details:hover .user-menu {
  display: block;
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -webkit-animation-name: slidefornav;
  -moz-animation-name: slidefornav;
  -webkit-animation-timing-function: ease-out;
  -moz-animation-timing-function: ease-out;
  animation-timing-function: ease-out;
  -webkit-animation-duration: 300ms;
  -moz-animation-duration: 300ms;
  animation-duration: 300ms;
  animation-delay: 0;
  -moz-animation-delay: 0;
  -webkit-animation-delay: 0;
}
@-webkit-keyframes slidefornav {
  from {
    -webkit-transform: translateY(-15px);
  }
  to {
  -webkit-transform: translateY(0);
  }
}
@-moz-keyframes slidefornav {
  from {
    -moz-transform: translateY(-15px);
  }
  to {
    -moz-transform: translateY(0);
  }
}
.user-menu li.user-menu-muted {
  padding: 8px 0px;
  color:#999999;
}
.user-menu li i.fa {
  display: inline-block;
  margin: 0px 8px 0px 5px;
}
.user-menu li {
  border-bottom: 1px solid #F2F2F2;
  display: block;
  width: 100%;
}
.user-menu li:last-child {
  border-bottom: none;
}
.user-menu li.user-menu-link a {
  padding: 8px 0px;
  display: block;
  color:#0076be;
}
.user-menu li.user-menu-link a:hover {
  cursor: pointer;
  text-decoration: none;
  background-color: #ECF2F7;
}
.businesses-results {
  margin: 5px auto;
  float: left;
  width: 100%;
}
.businesses-results-title {
  font-size:18px;
  text-align: right;
}
.businesses-results-table {
  margin:0 auto;
}
.businesses-results-table th,
.businesses-results-table td {
  padding:8px 2px !important;
}
.businesses-results-table,
.businesses-results-table *
 {
  text-align: right !important;
}
#search-nearest-bar {
  float: left;
  width: 100%;
  margin: 5px 0;
}
.search-nearest-button {
  color: #0076be !important;
  padding: 0 16px !important;
  text-decoration: none !important;
}
button.search-nearest-button:hover {
  color: #0076be !important;
  text-decoration: none !important;
}
#page-title {
  width: 100%;
  font-size: 18px;
  text-align: right;
  margin: 30px 0 0;
  float: left;
}
#app-view {
  width: 100%;
  float: left; 
}
.business-profile {
  direction: rtl;
  text-align: right;
  margin: 13px auto 0;
}
.business-profile-properties {
  display: table;
}
.business-profile-properties > li {
  margin: 10px 0;
}
.business-profile-key {
  font-weight: bold;
  vertical-align: top;
}
.business-profile-value {
  vertical-align: top;
}
.business-profile-key:after {
  content: ':';
}
.business-profile-directions {
  width: 100%;
  height: 400px;
  border: none;
}
.no-businesses {
  text-align: center;
  display: block;
  margin: 5px auto;
}