@import url(http://fonts.googleapis.com/earlyaccess/alefhebrew.css);

body {
  font: 14px 'Alef Hebrew', Arial, Helvetica, sans-serif;
  direction: rtl;
  margin: 0 auto;
}
a {
  color: #0076be;
}
ul, ol ,li {
  list-style-type: none;
  list-style: none;
}
#page {
  margin: 0 auto;
  text-align: center;
  padding: 15px;
  max-width: 1000px;
}
#search-bar {
  position: relative;
  z-index: 0;
  float: left;
  width: 100%;
}
#search-bar .input-group {
  direction: ltr;
}
#search-input {
  text-align: right;
  direction: rtl;
}
#user-bar {
  margin: 0 auto 50px;
  float: left;
  width: 100%;
}
#login-btn {
  float: left;
  background: #4c69ba;
  background: -webkit-gradient(linear, center top, center bottom, from(#4c69ba), to(#3b55a0));
  background: -webkit-linear-gradient(#4c69ba, #3b55a0);
  background: -moz-linear-gradient(top,  #4c69ba 0%, #3b55a0 100%); /* FF3.6+ */
  background: -o-linear-gradient(top,  #4c69ba 0%, #3b55a0 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #4c69ba 0%, #3b55a0 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #4c69ba 0%, #3b55a0 100%); /* W3C */
  border-color: #4c69ba;
  text-shadow: 0 -1px 0 #354c8c;
  position: relative;
  z-index: 2;
}
#login-btn:hover {
  background: -webkit-gradient(linear, center top, center bottom, from(#5b7bd5), to(#4864b1));
  background: -webkit-linear-gradient(#5b7bd5, #4864b1);
  background: -moz-linear-gradient(top,  #5b7bd5 0%, #4864b1 100%); /* FF3.6+ */
  background: -o-linear-gradient(top,  #5b7bd5 0%, #4864b1 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #5b7bd5 0%, #4864b1 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #5b7bd5 0%, #4864b1 100%); /* W3C */
  border-bottom-color: #41599f;
  border-left-color: #4961a8;
  border-right-color: #4961a8;
  border-top-color: #5874c3;
  -webkit-box-shadow: inset 0 1px 0 #607fd6;
  cursor: pointer
}
#login-btn .text {
  font-weight: bold;
}
#user-details {
  float: left;
  position: relative;
  padding: 0;
  margin: 0;
  z-index: 2;
  padding: 0 0 10px;
}
#user-details, #user-details > * {
  cursor: default;
}
.user-details-wrapper {
  overflow: hidden;
  position: relative;
  z-index: 3;
  background-color: #FFFFFF;
}
.user-image {
  float: left;
  margin-right:10px;
}
.user-image img {
  height: 48px;
  width: 48px;
}
.user-name-email {
  float: left;
  text-align: right;
  margin: 7px 10px 0 0;
}
.user-name {
  font-weight: bold;
}
.user-email {
  font-size: 12px;
  color: #cccccc;
  line-height: 10px;
}
.user-caret {
  float: left;
  margin: 8px 2px 0 0;
}
.user-menu {
  display: none;
  position: absolute;
  z-index: 1;
  background-color: #FFFFFF !important;
  border-radius: 4px;
  box-shadow: 1px 1px 1px #ccc;
  padding: 0;
  width: 100%;
  text-align: right;
  border: 1px solid #E8E8E8;
  margin: 8px 0 0;
}
ul#user-details:hover .user-menu {
  display: block;
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -webkit-animation-name: slidefornav;
  -moz-animation-name: slidefornav;
  -webkit-animation-timing-function: ease-out;
  -moz-animation-timing-function: ease-out;
  animation-timing-function: ease-out;
  -webkit-animation-duration: 300ms;
  -moz-animation-duration: 300ms;
  animation-duration: 300ms;
  animation-delay: 0;
  -moz-animation-delay: 0;
  -webkit-animation-delay: 0;
}
@-webkit-keyframes slidefornav {
  from {
    -webkit-transform: translateY(-15px);
  }
  to {
  -webkit-transform: translateY(0);
  }
}
@-moz-keyframes slidefornav {
  from {
    -moz-transform: translateY(-15px);
  }
  to {
    -moz-transform: translateY(0);
  }
}
.user-menu li.text-muted {
  border-bottom: 1px solid #F2F2F2;
  padding: 8px 0px;
}
.user-menu li i.fa {
  display: inline-block;
  margin: 0px 8px 0px 5px;
}
.user-menu span {
  color: #0076be;;
  border-bottom: 1px solid #F2F2F2;
  padding: 8px 0px;
  display: block;
  width: 100%;
  text-decoration: none;
}
.user-menu span:last-child {
  border-bottom: none;
}
.user-menu span:hover {
  cursor: pointer;
  background-color: #ECF2F7;
}
.geolocator-bar {
  margin: 25px auto;
  float: left;
  width: 100%;
  text-align:center;
}
.geolocator-or {
  font-size:18px;
}
.nearest-businesses-table {
  margin:40px auto 0;
}
.nearest-businesses-table,
.nearest-businesses-table *
 {
  text-align: right !important;
}