<div class="business-profile">
  <form ng-submit="createBusiness()">
    <div class="row">
      <div class="col-lg-12">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">פרטי העסק</h3>
          </div>
          <div class="panel-body">
            <div class="col-lg-6">
              <ul class="business-profile-properties">
                <li>
                  <div class="business-profile-key">שם</div>
                  <div class="business-profile-value">
                    <input class="form-control" type="text" ng-model="business.name" placeholder="שם" required />
                  </div>
                </li>
                <li>
                  <div class="business-profile-key">קטגוריה</div>
                  <div class="business-profile-value">
                    <select class="form-control" ng-model="business.businessType" placeholder="קטגוריה" required>
                      <option ng-repeat="businessType in businessTypes" value="{{businessType}}">{{businessType}}</option>
                    </select>
                  </div>
                </li>
                <li>
                  <div class="business-profile-key">כתובת</div>
                  <div class="business-profile-value">
                    <input class="form-control" type="text" value="{{ displayAddress }}" name="displayAddress" id="displayAddress" ng-model="displayAddress" placeholder="רחוב ומס' בית, עיר" required googleautocomplete />
                  </div>
                </li>
                <li>
                  <div class="business-profile-key">טלפון</div>
                  <div class="business-profile-value">
                    <input class="form-control" type="text" ng-model="business.phone" placeholder="טלפון" />
                  </div>
                </li>
                <li>
                  <div class="business-profile-key">אתר אינטרנט</div>
                  <div class="business-profile-value">
                    <input class="form-control" type="text" ng-model="business.website" placeholder="אתר אינטרנט" />
                  </div>
                </li>
              </ul>
            </div>
            <div class="col-lg-5 col-lg-pull-1">
              <ul class="business-profile-properties">
                <li>
                  <div class="business-profile-key">תיאור העסק</div>
                  <div class="business-profile-value">
                    <textarea class="form-control" ng-model="business.description" placeholder="תיאור העסק"></textarea>
                  </div>
                </li>
                <li>
                  <div class="business-profile-key">שעות פתיחה</div>
                  <div class="business-profile-value">
                    <ul>
                      <li ng-repeat="(day, dayInfo) in displayOpenHours">
                          <input type="hidden" value="{{day}}" />
                          <input type="checkbox" value="{{ dayInfo.opened }}" ng-model="dayInfo.opened" ng-checked="dayInfo.opened" />
                          <label class="control-label business-form-label">{{ dayInfo.displayDay }}</label>
                          <span>פתיחה:</span>
                          <select value="{{ dayInfo.startHour }}" ng-model="dayInfo.startHour" ng-disabled="!dayInfo.opened">
                            <option ng-repeat="hour in hours" value="{{hour}}" ng-selected="dayInfo.startHour == hour">{{hour}}</option>
                          </select>
                          <span>סגירה:</span>
                          <select value="{{ dayInfo.endHour }}" ng-model="dayInfo.endHour" ng-disabled="!dayInfo.opened">
                            <option ng-repeat="hour in hours" value="{{hour}}" ng-selected="dayInfo.endHour == hour">{{hour}}</option>
                          </select>
                      </li>
                    </ul>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-12">
        <button type="submit" class="btn btn-primary btn-lg btn-block"><i class="fa fa-check"></i> הוסף עסק</button>
      </div>
    </div>
  </form>
</div>