<!-- SEARCH RESULTS TABLE -->
<div class="businesses-results">
  <div class="businesses-results-title"  ng-hide="loading"><h2>{{title}}</h2></div>
  <table class="table table-striped businesses-results-table" ng-show="hasResults()">
    <thead>
      <tr>
        <th>שם העסק</th>
        <th>סוג העסק</th>
        <th>כתובת</th>
        <th>מרחק</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="business in results">
        <td><a href="#/business/{{business._id}}">{{business.name}}</a></td>
        <td>{{business.businessType}}</td>
        <td>{{business.address.street}} {{business.address.homeNumber}} {{business.address.city}}</td>
        <td>{{ (position) ? ((business.distanceMeters > 1000) ? business.distanceKilometers + ' ק"מ' : business.distanceMeters + " מ'") : "" }}</td>
      </tr>
    </tbody>
  </table>
</div>
<!-- END SEARCH RESULTS TABLE -->