<div class="user-profile">
  <div clas="row">
    <div class="col-lg-3">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">פרטי משתמש</h3>
        </div>
        <div class="panel-body">

          <img ng-src="{{session.currentUser.imagePath}}" class="img-circle">
          <div><a href="mailto:{{session.currentUser.email}}">{{session.currentUser.email}}</a></div>
        </div>
      </div>
    </div>
    <div class="col-lg-3">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">עסקים אחרונים שנצפו</h3>
        </div>
        <div class="panel-body">
          <ol ng-show="lastVisitedBusinesses && lastVisitedBusinesses.length > 0">
            <li ng-repeat="lastVisitedBusiness in lastVisitedBusinesses">
              <div><a href="#/business/{{lastVisitedBusiness._id}}">{{lastVisitedBusiness.name}}</a></div>
            </li>
          </ol>
          <div ng-show="lastVisitedBusinesses && lastVisitedBusinesses.length == 0">
            <span class="empty-panel text-muted">עוד לא נצפו עסקים</span>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-3">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">מועדפים</h3>
        </div>
        <div class="panel-body">
          <ol ng-show="favoriteBusinesses && favoriteBusinesses.length > 0">
            <li ng-repeat="favoriteBusiness in favoriteBusinesses">
              <div><a href="#/business/{{favoriteBusiness._id}}">{{favoriteBusiness.name}}</a></div>
            </li>
          </ol>
          <div ng-show="favoriteBusinesses && favoriteBusinesses.length == 0">
            <span class="empty-panel text-muted">אין עדיין עסקים מועדפים</span>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-3">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">ביקורות</h3>
        </div>
        <div class="panel-body">
          <ol ng-show="reviewBusinesses && reviewBusinesses.length > 0">
            <li ng-repeat="reviewBusiness in reviewBusinesses">
                  <div>
                    <a href="#/business/{{reviewBusiness.businessId._id}}#{{reviewBusiness._id}}">{{reviewBusiness.businessId.name}}</a>
                    -{{showReviewContent(reviewBusiness.content)}}
                  </div>
            </li>
          </ol>
          <div ng-show="reviewBusinesses && reviewBusinesses.length == 0">
            <span class="empty-panel text-muted">אין עדיין ביקורות לעסקים</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>